@import '../../App.scss';

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $darkBG;
    height: 60vh;

    @include mobile {
        height: 75vh;
        padding: 20px;
    }

    .headerSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h1 {
        color: $TextLight;
        font-size: 50px;
        text-align: center;

        @include mobile {
            font-size: 27px;
        }
    }

    p {
        text-align: center;
        color: $TextLight;
        font-size: 16px;
        margin: 20px 0;
        
        @include mobile {
            font-size: 14px;
        }
    }

}