@import '../../App.scss';

.viewblogHeader {
    height: 60vh;
    background-color: $darkBG;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile {
        height: 75vh;
    }

    .headerContent {
        width: 55vw;

        @include mobile {
            width: 80vw;
        }

        h1 {
            text-align: center;
            color: #fff;
            font-size: 29px;

            @include mobile {
                font-size: 19px;
            }
        }

        .auhorDetails {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin-top: 20px;

            .authorImage {
                height: 50px;
                width: 50px;
                border-radius: 50%;
                overflow: hidden;

                @include mobile {
                    width: 30px;
                    height: 30px;
                }


                img {
                    height: auto;
                    width: 100%;
                    object-fit: cover;

                }


            }

            p {
                color: #fff;

                @include mobile {
                    font-size: 12px;
                }
            }

            span {
                font-size: 12px;
                color: #fff;

                @include mobile {
                    font-size: 10px;
                }
            }
        }
    }
}

.blogBody {
    width: 100%;
    height: auto;

    .blogCoverPhoto {
        width: 55%;
        height: 300px;
        margin: -8vh auto 0 auto;
        overflow: hidden;

        @include mobile {
            width: 80%;
            margin: -65px auto 0 auto;
        }

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    .blogContent {
        width: 55%;
        height: auto;
        margin: 30px auto;
        overflow: hidden;

        @include mobile {
            width: 90%;
        }

        p {
            @include mobile {
                font-size: 14px;
            }
        }

        .auhorDetails {
            display: flex;

            align-items: center;
            gap: 10px;
            margin-top: 20px;

            .authorImage {
                height: 50px;
                width: 50px;
                border-radius: 50%;
                overflow: hidden;

                @include mobile {
                    height: 30px;
                    width: 30px;
                }


                img {
                    height: auto;
                    width: 100%;
                    object-fit: cover;

                }


            }

            p {
                color: #4d4d4d;

                @include mobile {
                    font-size: 12px;
                }
            }

            span {
                font-size: 12px;
                color: #4d4d4d;

                @include mobile {
                    font-size: 10px;
                }
            }
        }
    }
}