@import '../../App.scss';

.formContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .Form{
        width: 30%;
        height: auto;
        display: flex;flex-direction: column;
        gap: 10px;

        h1{
            font-size: 39px;
            text-align: center;
            color: rgb(75, 75, 75);
            span{
                color: $darkBG;
            }
        }
        h2{
            font-size: 23px;
            text-align: center;
            color: rgb(75, 75, 75);
            margin-bottom: 20px;
        }
          label{
            text-align: center;
            height: 25px;
            background-color: rgb(140, 140, 140);
            color: $TextLight;
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
          }
        input{
            height: 45px;
            width: 100%;
            padding-left: 20px;
            outline: none;
            color: rgb(75, 75, 75);
            font-size: 15px;
            border-radius: 5px;
            border: 1px solid rgb(75, 75, 75);
        }

        button{
            height: 50px;
            background-color: $darkBG;
            border: none;
            color: $TextLight;
            border-radius: 5px;
        }
       .Footer{
        margin-top: 20px;
          p{
            text-align: center;
          }
       }
    }
}