@import '../../App.scss';

.nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $darkBG;
    width: 100%;
    z-index: 1;

    .navContainer {
        display: flex;
        flex-direction: row;
        width: 90%;
        height: 70px;
        justify-content: space-between;
        align-items: center;
        margin: auto;


        h1 {
            font-size: 30px;

            @include mobile {
                font-size: 20px;
            }
        }


        a {
            color: $TextLight;
            text-decoration: none;
            transition: 0.6s;

            @include mobile {
                display: block;
                padding: 8px 0;
                font-size: 14px;
            }

            &:hover {
                color: rgb(147, 147, 147);
                font-weight: 600;
                margin-bottom: -10px;
            }
        }

        .menu {
            display: flex;
            flex-direction: row;
            gap: 30px;
            align-items: center;

            @include mobile {
                display: block;
                background-color: black;
                height: auto;
                padding: 10px;
                position: absolute;
                top: 30px;
                right: 30px;
                width: 200px;
            }

            .navProfile {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                overflow: hidden;
                border: 2px solid rgb(147, 147, 147);

                img {
                    width: 36px;
                    height: auto;
                }
            }

            button {
                border: none;
                background: transparent;
                color: $TextLight;
                font-size: 16px;
                cursor: pointer;
                transition: 0.6s;

                &:hover {
                    color: rgb(147, 147, 147);
                    font-weight: 600;
                    margin-bottom: -10px;
                }
            }

        }

        .menuButton {
            display: none;
            color: #fff;
            font-size: 30px;

            @include mobile {
                display: block;

            }
        }

        .closeMobilemenuBtn {
            display: none;
            color: #fff;
            font-size: 30px;
            margin-top: 8px;

            @include mobile {
                display: block;


            }
        }

        #MenuDesktop {
            @include mobile {
                display: none;
            }
        }
    }


}